md-content(ng-controller="machineResCtrl" class="contentPane" layout="row" layout-align="center")
  div(layout="column" class="loginPage")  
    header
      div(class="login")
        #addMachine Add Machines
    form(name="addMachineForm" ng-hide="loading" id="addMachineForm" class="loginForm" layout="column")
      md-input-container(class="inputItem")
        label(for="toolName") Machine Name
        input(type="text" name="toolName" id="toolName" ng-model="machine.toolName" required pattern="^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$")
      md-input-container(class="inputItem")
        label(for="dailyHours") Daily Reservable Hours
        input(type="number" name="dailyHours" id="dailyHours" ng-model="machine.dailyHours" required pattern="[0-9]{1,}")
      md-input-container(class="inputItem")
        label(for="weeklyHours") Weekly Reservable Hours
        input(type="number" name="weeklyHours" id="weeklyHours" ng-model="machine.weeklyHours" required pattern="[0-9]{1,}")
      md-input-container(class="inputItem")
        label(for="subBtn")
        input(type="submit" value="Add Machine" class="loginBtn md-button md-raised md-primary" ng-disabled="addMachineForm.$invalid" name="subBtn" id="subBtn" ng-click="addMachine()")

div(layout="row" layout-sm="column" layout-align="space-around")
  md-progress-circular(md-mode="indeterminate" ng-show="loading")

