div(ng-controller="userAdminCtrl")
  div(class="loginPage" ng-repeat="user in users" flex="50")
    header
      div(class="login")
        #updateUser User
    md-content(layout="row" layout-sm="column" layout-align="center")
      p(class="users") Username: {{user.username}} 
      p(class="users") Name: {{user.first_name + ' ' + user.last_name}} 
      p(class="users") Email: {{user.email}}
    form(name="userAdmin" id="userAdmin" class="loginForm" layout="column")
      md-select(name='status' id='status' ng-model='user.active' aria-label="Select user status")
        md-option(value="true") Active
        md-option(value="false") Disabled
      md-input-container(class="inputItem" flex="5" flex-sm="15")
        label(for="subBtn")
        input(type="submit" value="Update" class="loginBtn md-button md-raised md-primary" name="subBtn" id="subBtn" ng-click="updateUser($index)")
      md-input-container(flex="1" class="delItem")
        label(for="delBtn")
        input(type="button" value="X" class="delBtn md-button md-raised md-warn" name="delBtn" id="delBtn" ng-click="deleteUser($index)")
