div(ng-controller="userAdminCtrl")
  div(layout="row" layout-sm="column" layout-align="space-around")
    md-progress-circular(md-mode="indeterminate" ng-show="loading")
  div(ng-repeat="user in users")
    header
      div(class="login")
        #userAdmin User
    form(name="userStatForm" id="userStatForm" class="loginForm" layout="row" layout-md="column" layout-sm="column")
      md-input-container(class="inputItem" flex)
        label(for="username") Username
        input(type="text" id="username" name="username" ng-model="user.username" value="{{user.username}}" readonly)
      md-input-container(class="inputItem" flex)
        label(for="first_name") First Name
        input(type="text" id="first_name" name="first_name" ng-model="user.first_name" value="{{user.first_name}}" readonly)
      md-input-container(class="inputItem" flex)
        label(for="last_name") Last Name
        input(type="text" id="last_name" name="last_name" ng-model="user.last_name" value="{{user.last_name}}" readonly)
      md-input-container(class="inputItem" flex)
        label(for="email") Email
        input(type="text" id="email" name="email" ng-model="user.email" value="{{user.email}}" readonly)
      md-input-container(class="inputItem" flex)
        label(for='status') Status
        md-select(name='status' id='status' ng-model='user.active' aria-label="Select user status")
          md-option(value="true") Active
          md-option(value="false") Disabled
      md-input-container(class="inputItem" flex)
        label(for="accountType") Account Type
        input(type="text" id="accountType" name="accountType" ng-model="user.accountType" value="{{user.accountType}}" readonly)
      md-input-container(class="inputItem" flex)
        label(for="subBtn")
        input(type="submit" value="Update" class="loginBtn md-button md-raised md-primary" name="subBtn" id="subBtn" ng-click="updateUser($index)")
      md-input-container(class="inputItem" flex)
        label(for="updatePass")
        input(type="button" value="updatePassword" class="updatePass md-button md-raised md-accent" name="updatePass" id="updatePass" ng-click="updatePasswordForm($index)")
      md-input-container(class="inputItem" flex)
        label(for="delBtn")
        input(type="button" value="X" class="delBtn md-button md-raised md-warn" name="delBtn" id="delBtn" ng-click="deleteUser($index)")

