md-content(layout="column" class="contentPane")
  md-button(class="md-primary" ng-click="reserveDate()") Save
  md-datepicker(class="contentPane dateCenter" ng-model="myDate" value="{{myDate}}" md-placeholder="Enter date"
    md-min-date="minDate" md-max-date="maxDate" aria-label="Reservations Date Picker")
  md-content(ng-show="myDate" ng-model="myDate.hours" layout="column" class="dateItem contentPane")
    md-button(ng-repeat="hour in hours" ng-value="myDate" class="dateItem md-raised" aria-label="Hour picker for {{hour.dispTime}}") {{hour.dispTime}}
