div(ng-controller="machineResCtrl" class="contentPane" layout="row" layout-align="center")
  div(flex="50" ng-blur="true" ng-repeat="machine in machines" ng-click="openCalendar($index, $event)" layout="row" layout-sm="column" layout-align="center")
    p(class="users") Name: {{machine.toolName}}
    p(class="users" ng-show="{{machine.online}}") Online
    p(class="users" ng-hide="{{machine.online}}") Offline
