div(ng-controller="scheduledCtrl" class="grayBack") 
    h1 Your Scheduled Times for {{displaydate}}
    h2 Visit the Machines page to schedule time

    md-datepicker(ng-model="date" ng-change="updateScheduled()" ng-value="myDate" md-placeholder="Enter date"
      md-min-date="minDate" md-max-date="maxDate" aria-label="Reservations Date Picker")
    div(ng-repeat="machine in machines")
      h3
        span(ng-hide="machine.online") {{machine.toolName}} Offline
        span(ng-show="machine.online") {{machine.toolName}} Online
      md-button(ng-repeat="hour in machine.reservations" ng-value="hour" ng-class="{'md-primary': hour.userId == user.userId, 'md-accent': hour.userId && hour.userId != user.userId, 'md-warn': !machine.online}" ng-show="user.userId = hour.userId" class="md-raised" aria-label="Hour picker for {{hour.dispTime}}") 
        span(ng-hide="hour.username.length > 0 || !machine.online") {{hour.dispTime}}
        span(ng-show="hour.username.length > 0 && machine.online") {{hour.dispTime + ' - ' +hour.username}}
        span(ng-show="!machine.online") 
          span(ng-hide="hour.username") Offline 
          span(ng-show="hour.username") {{hour.username}}
