//
   Created by MrComputer on 10/20/15.
form(class="updatePasswordForm" ng-hide="loading" name="updatePasswordForm")
   md-input-container(class="inputItem")
      label(for="newpassword") New Password
      input(name="newpassword" ng-model="newpassword" type="text" id="newpassword" pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,32}$" required)
      p(ng-show="updatePasswordForm.newpassword.$invalid && !updatePasswordForm.newpassword.$pristine") needs at least one letter, number, and special char.
      p(ng-show="updatePasswordForm.newpassword.$invalid && !updatePasswordForm.newpassword.$pristine") password must be 8-32 characters long
      p(ng-show="updatePasswordForm.newpassword.$valid") Password is good!
   md-button(class="md-primary inputItem" ng-disabled="updatePasswordForm.$invalid" ng-click="updatePassword(user)") Update

div(layout="row" layout-sm="column" layout-align="space-around")
   md-progress-circular(md-mode="indeterminate" ng-show="loading")

