
div(ng-controller="userPageCtrl" class="loginPage")
  form(class="loginForm" ng-repeat="user in users" layout="column") 
    md-input-container(class="inputItem") 
      label(for="username") Username
      input(type="text" id="username" name="username" ng-model="user.username" value="{{user.username}}" readonly) 
    md-input-container(class="inputItem")
      md-select(name='status' id='status' ng-model='user.active' aria-label="Select user status")
        md-option(value="true") Active
        md-option(value="false") Disabled
    md-button(class="inputItem md-raised md-primary" ng-click="updateUser()") Update Status
    md-button(class="inputItem md-raised md-accent" ng-click="openCardUpdate()") Update Credit Info
